<div class="content">
    <h1>Benvenuto/a !</h1>
    <p>Questa app è stata creata da Alberto Lopez ed è per puro apprendimento di Angular e affini.
    </p>
    <mat-icon>home</mat-icon><a href="https://www.alcybercloud.it/" class="cta-button">Alcybercloud.it</a><br>
    <mat-icon>home</mat-icon><a href="https://github.com/PeronSlayer" class="cta-button">GitHub</a><br>
    <mat-icon>home</mat-icon><a href="https://github.com/PeronSlayer/MaterialLogin.git" class="cta-button">GitHub Repo</a>
  </div>