<body style="background-color:seagreen;">
<mat-toolbar color="primary"><img src="favicon.ico" style="width:40px;height: 40px; margin-right:10px;">Login App
  <div class="right-button">
  <button mat-button routerLink="" class="toolbar_button">
    <mat-icon>home</mat-icon>
    Home
  </button>
  <button mat-button routerLink="login">
    <mat-icon>login</mat-icon>
    Login
  </button>
  <button mat-button routerLink="signup">
    <mat-icon>app_registration</mat-icon>
    Registrati
  </button>
</div>
</mat-toolbar>
<div class="content">
  <router-outlet></router-outlet>
</div>
</body>